<f:layout name="Default"/>
<title>Templates: Recipe/List</title>
<f:section name="main">
    <ul class="list-unstyled">
        <f:for each="{recipes}" as="recipe">
            <li>
                <div class="list-item-image">
                    <f:image image="{recipe.teaserImage}" width="250px"/>
                </div>
                <div class="list-item-content">
                    <h2>
                        <f:link.action action="show" arguments="{recipe: recipe}">{recipe.title}</f:link.action>
                    </h2>
                    {recipe.subtitle}
                </div>
            </li>
        </f:for>
    </ul>
</f:section>
