<f:layout name="Default"/>
<title>Templates: Recipe/Show</title>
<f:section name="main">
    <div class="row">
        <div class="col-sm-4">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <f:for each="{recipe.images}" as="image" iteration="iterator">
                        <li data-target="#carousel-example-generic" data-slide-to="{iterator.index}"
                            class="{f:if(condition: '{iterator.index} == 0', then: 'active', else: '')}"></li>
                    </f:for>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <f:for each="{recipe.images}" as="image" iteration="iterator">
                        <div class="item {f:if(condition: '{iterator.index} == 0', then: 'active', else: '')}">
                            <f:image image="{image}"/>
                        </div>
                    </f:for>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">

            <h1 class="show-item-title">{recipe.title}</h1>

            <div class="show-item-subtitle">{recipe.subtitle}</div>

            <ul class="list-inline">
                <li class="name">{recipe.cook.name}</li>
                <f:if condition="{recipe.cook.twitter}">
                    <li class="twitter">
                        <f:link.external uri="https://www.titter.com/{recipe.cook.twitter}" target="_blank">
                            @{recipe.cook.twitter}
                        </f:link.external>
                    </li>
                </f:if>
                <f:if condition="{recipe.cook.email}">
                    <li class="email">
                        <f:link.email email="{recipe.cook.email}"/>
                    </li>
                </f:if>
                <f:if condition="{recipe.cook.url}">
                    <li class="homepage">
                        <f:link.external uri="{recipe.cook.url}" target="_blank">{recipe.cook.url}</f:link.external>
                    </li>
                </f:if>
            </ul>

            <div class="show-item-description">{recipe.description}</div>
            <table class="show-item-ingredients">
                <f:for each="{recipe.ingredients}" as="ingredient">
                    <tr>
                        <td class="ingredient-amount">{ingredient.amount} {ingredient.unit.shortName}</td>
                        <td class="ingredient-name">{ingredient.ingredient}</td>
                    </tr>
                </f:for>
            </table>

            <div class="show-item-instruction">{recipe.instruction}</div>


        </div>
    </div>
</f:section>





